<!-- Success Alert -->
<div class="alert alert-{{alert_name}} alert-dismissible fade show" role="alert"
    style="visibility:{{alert_msg_visibility}};  width: 50%;position:fixed; top:50px; left:680px;float:right">
    <strong>{{SorF}}</strong> {{status}}
    {{!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        
        </button> --}}
</div>
<!-- Success Alert -->