<!-- Success Alert -->
<div class="alert alert-{{alert_name}} alert-dismissible fade show" role="alert"
    style="visibility:{{alert_msg_visibility}};  width: 50%;position:fixed; top:50px; left:680px;float:right">
    <strong>{{SorF}}</strong> {{status}}
</div>
<!-- Success Alert -->